* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(239, 230, 218);
  position: absolute;
  top: 10%;
  left: 40%;
}
.traffic-light {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 220px;
  height: 500px;
  border-radius: 30px;
  background-color: #335f83;
  padding: 50px 50px;
  display: grid;
  gap: 20px;
}
.red-light {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: red;
}
.yellow-light {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: orange;
}
.green-light {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: green;
}
.traffic-light-item {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: gray;
}
